[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==4.1"
django-environ = "*"
ipython = "*"
django-compressor = "*"
django-sass-processor = "*"
djangorestframework = "*"
drf-spectacular = "*"
drf-spectacular-sidecar = "*"
django-cors-headers = "*"
Pillow = "*"
rsa = "*"
dj-registry = "*"
pandas = "*"
openpyxl = "*"
uwsgi = "*"
numpy = "*"
Faker = "*"
pyparsing = "*"
graphviz = "*"
pydot = "*"
pydotplus = "*"
django-allauth = "*"
channels = "*"
dj-rest-auth = "*"
django-redis = "*"
django-postgres-extra = "*"
psycopg2 = "*"
djangorestframework-simplejwt = "*"
django-model-utils = "*"
django-role-permissions = "*"
celery = "*"
django-celery-beat = "*"
django-celery-results = "*"
django-filter = "*"
requests = "*"
cron-converter = "*"
dataclass-wizard = "*"
shortuuid = "*"
apache-age-python = "*"
antlr4-python3-runtime = "*"
rich = "*"

[dev-packages]
# Testing
mypy = "*"
pytest = "*"
pytest-sugar = "*"
# Documentation
sphinx = "*"
sphinx-autobuild = "*"
# Code quality
isort = "*"
black = "*"
flake8 = "*"
flake8-isort = "*"
coverage = "*"
pylint-django = "*"
pylint-celery = "*"
# pre-commit = "*"
# Django
factory-boy = "*"
libsass = "*"
pytest-django = "*"
debugpy = "*"
django-extensions = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.10"
